#wikt-info {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    width: 100%;
    padding: 5px;
    color: #131516;
    font-family: 'Source Sans Pro', sans-serif;   
}

#wikt-info span.sense-num {
    color: rgb(107, 112, 112);
    padding-left: 3px;
}

#wikt-info span.lb {
    font-style: italic;
}

#wikt-info span.non-gloss-def {
    font-style: italic;
}

#wikt-info-align {
    overflow: hidden;
    padding-left: 5px;
}

#wikt-info-content {
    font-size: 12pt;
}

#wikt-info-close {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 12pt;
}

#wikt-info-close:hover {
    opacity: 0.5;
}

#wikt-info-footer {
    font-size: 10pt;
    padding-top: 5px;
}

#wikt-info a {
    text-decoration: none;
    color: #006697;
}

#wikt-info a:link, #wikt-info a:visited {
    color: #006697;
}

#wikt-info a:hover {
    opacity: 0.6;
}

#wikt-info span.tags {
    font-variant: small-caps;
}

#wikt-info span.acronym {
    font-style: italic;
}

#wikt-info span.diminutive {
    font-style: italic;
}

#selectedTextKey:hover {
    opacity: 0.5;
}

#max-flashcards-dialog {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    width: 100%;
    padding: 5px;
    color: #131516;
    font-family: 'Source Sans Pro', sans-serif;    
}

#max-cards-div-close {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 12pt;
}

#max-cards-div-close:hover {
    opacity: 0.5;
}

#max-flashcards-message {
    overflow: hidden;
    padding-left: 5px;
}

#max-flashcard-sub {
    font-size: 10pt;
    padding-top: 5px;
}

#wikt-info .flashcard-option:hover {
    opacity: 0.5;
}

#wikt-info .flashcard-option {
    cursor: pointer;
    padding-left: 5px;
}