#wikt-info {
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    padding: 5px;
    color: #131516;
}

#wikt-info span.pos {
    padding-left: 5px;
}

#wikt-info span.sense-num {
    color: rgb(107, 112, 112);
    padding-left: 3px;
}

#wikt-info span.lb {
    font-style: italic;
}

#wikt-info span.non-gloss-def {
    font-style: italic;
}

#wikt-info-align {
    overflow: hidden;
    padding-left: 5px;
}

#wikt-info-content {
    font-size: 16px;
}

#wikt-info-close {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 16px;
}

#wikt-info-close:hover {
    opacity: 0.5;
}

#wikt-info-footer {
    font-size: 10px;
    padding-top: 5px;
}

.wikt-info-class > a:hover {
    opacity: 0.5;
}