h1 {
    font-size: 13.5pt;
    font-weight: normal;
    color: #131516;
}

body {
    width: 250px;
    font-size: 12pt;
    color: #505253;
    font-family: 'Source Sans Pro', sans-serif;   
}

a {
    text-decoration: none;
    color: #006697;
}

a:link, a:visited {
    color: #006697;
}

a:hover {
    opacity: 0.6;
}

#footer {
    margin-top: 15pt;
    font-size: 10pt;
}

#flashcard-info {
    color: #131516;
}

#clear-cache, #save-flashcards {
    color: #740000;
    cursor: pointer;
}
