.card {
    font-family: Libre Sans;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.hint {
    font-size: 16px;
}

.pronunciation::before {
    content: '[';
}

.pronunciation::after {
    content: ']:';
}

.sentence {
    margin-top: 5px;
    font-size: 18px;
}

.features {
    margin-top: 5px;
    font-size: 18px;
}

.features::after {
    content: '.';
}

.tags {
    font-variant: small-caps;
}